<app-navbar-home></app-navbar-home>
<div style="background-image:url(https://i.pngimg.me/thumb/f/720/eb86392929654111b860.jpg);">
<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    
                    <h1>NEST DIGITAL</h1>
                    <p>People
                        Our ability to coordinate globally distributed software engineering resources through robust operational processes and consistent project management methods enable us to rapidly mobilize resources wherever and whenever required.
                        
                        Business Transformation
                        NeST GDCs offer competitive and strategic solutions through a mix of global, regional, local and onsite expertise to help businesses and organizations successfully compete in today’s economic environment.
                        
                        Delivery Excellence
                        We diligently follow the governance framework, standardized processes, methods and tools for process and delivery excellence.</p>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    
                    <h1>OUR STORY</h1>
                    <p>NeST Digital, a subsidiary of the NeST Group, has been transforming businesses, providing customized and innovative software solutions and services for our customers across the globe.</p>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    
                    <h1>HOW WE WORK</h1>
                    <h2>Based on NeST Principles</h2>
                    <p>Our principles serve as the foundation of our organization and have moulded us into who we are today. We are powered by continuous innovation, strategic thinking and collaboration to deliver shared outcomes for better results and growth.

                        We adhere to the highest standards of work to deliver exceptional outcomes. Our commitment with our customers, partners and employees is built on trust and integrity.
                        
                        We go above and beyond to serve our customers, delve deep into challenges and work hard to make their lives easier. We believe the best way to be productive is through teamwork and effective communication.
                        
                        We anticipate change, embrace agility which helps us achieve business goals efficiently. We deal with ambiguity, seek diverse views and use proper judgment to make effective decisions.</p>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    
                    <h1>WHO WE ARE & WHAT WE DO</h1>
                    <p>NeST Digital is the software arm of the globally trusted NeST Group of companies. We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.</p>
                  </div>
                
               
            </div>
        </div>
    </div>
</div>

