<app-adminnavbar></app-adminnavbar>
<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <h1 style="color:brown">View all Friends</h1>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3" *ngFor="let i of data">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.shutterstock.com/image-photo/image-handsome-smiling-young-african-260nw-722913181.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{i.name}}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Friend Name :{{i.friendName}}</li>
                            <li class="list-group-item">Friend NickName :{{i.friendNickName}}</li>
                            <li class="list-group-item">Description{{i.DescribeYourFriend}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>