<app-navbar-home></app-navbar-home>
<div style="background-image:url(https://s3.envato.com/files/3a6e02dc-2769-456d-a9d7-248ffe6d4005/inline_image_preview.jpg);">

<div style="background-image:url(https://img.freepik.com/premium-photo/abstract-white-powder-explosion-black-background_36326-3409.jpg?w=2000) ;"></div>
<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
      <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <div class="content d-flex align-items-center justify-content-center">
            <div class="container rounded">
              <div class="h1 fw-bold text-center mt-2"style="color: darkkhaki;">NeST Digital</div>
              <div class="h3 text-center pt-2"></div>
              <div class="fs-5 text-center pb-3 mb-3">Our great partners</div>
              <div class="rollers position-relative overflow-hidden">
                <div class="start-roller"></div>
                <div class="wrapper">
                  <div class="items-container roll-LL">
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/original-microsoft-logo-28.png" alt=""
                        class="company">
                    </div>
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/facebook-logo-15.jpg" alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/google-logo-new-history-png-9.png" alt=""
                        class="company">
                    </div>
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/netflix-logo-0.png" alt="" class="company">
                    </div>
                    <div class="item">
                      <img
                        src="https://www.freepnglogos.com/uploads/logo-tokopedia-png/tokopedia-apa-itu-startup-pengertian-cara-memulai-dan-1.png"
                        alt="" class="company">
                    </div>
                    <div class="item">
                      <img
                        src="https://www.freepnglogos.com/uploads/amazon-png-logo-vector/woodland-gardening-amazon-png-logo-vector-8.png"
                        alt="" class="company">
                    </div>
                  </div>
                  <div class="items-container roll-RL">
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/original-microsoft-logo-28.png" alt=""
                        class="company">
                    </div>
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/facebook-logo-15.jpg" alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/google-logo-new-history-png-9.png" alt=""
                        class="company">
                    </div>
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/netflix-logo-0.png" alt="" class="company">
                    </div>
                    <div class="item">
                      <img
                        src="https://www.freepnglogos.com/uploads/logo-tokopedia-png/tokopedia-apa-itu-startup-pengertian-cara-memulai-dan-1.png"
                        alt="" class="company">
                    </div>
                    <div class="item">
                      <img
                        src="https://www.freepnglogos.com/uploads/amazon-png-logo-vector/woodland-gardening-amazon-png-logo-vector-8.png"
                        alt="" class="company">
                    </div>
                  </div>
                </div>
                <div class="wrapper">
                  <div class="items-container reverse-roll-LL">
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/at-t-logo/brand-new-emblem-at-t-png-logo-6.png"
                        alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/sprint-png-logo/brand-sprint-png-logo-11.png"
                        alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/linkedin-logo-transparent-png-16.png" alt=""
                        class="company">
                    </div>
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/nokia-brand-logos-12.png" alt="" class="company">
                    </div>
                    <div class="item">
                      <img
                        src="https://www.freepnglogos.com/uploads/flipkart-logo-png/flipkart-logo-transparent-vector-3.png"
                        alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/cisco-png-logo/world-cisco-png-logo-12.png" alt=""
                        class="company">
                    </div>
                  </div>
                  <div class="items-container reverse-roll-RL">
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/at-t-logo/brand-new-emblem-at-t-png-logo-6.png"
                        alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/sprint-png-logo/brand-sprint-png-logo-11.png"
                        alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/linkedin-logo-transparent-png-16.png" alt=""
                        class="company">
                    </div>
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/nokia-brand-logos-12.png" alt="" class="company">
                    </div>
                    <div class="item">
                      <img
                        src="https://www.freepnglogos.com/uploads/flipkart-logo-png/flipkart-logo-transparent-vector-3.png"
                        alt="" class="company">
                    </div>
                    <div class="item">
                      <img src="https://www.freepnglogos.com/uploads/cisco-png-logo/world-cisco-png-logo-12.png" alt=""
                        class="company">
                    </div>
                  </div>
                </div>
                <div class="end-roller"></div>
              </div>
            </div>
          </div>
        </div>

      </div>
  </div>
</div>
</div>

